<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{
  url_for('static', filename='styles.css')
}}" />

    <title></title>
</head>
<body>
  {%include 'navbar.html'%}
  <img src="https://wordypessimistickeygens.tomislavkrtalic.repl.co/static/banner.jpg">
   <h2>About us</h2>  
   <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla facilisi nullam vehicula ipsum. In ornare quam viverra orci sagittis eu volutpat odio. Enim sed faucibus turpis in eu mi bibendum. Neque viverra justo nec ultrices dui. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Adipiscing enim eu turpis egestas pretium aenean. Fusce id velit ut tortor pretium viverra suspendisse. Tempor orci dapibus ultrices in iaculis nunc. Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Egestas sed tempus urna et pharetra.
   </p> 
 <p>
   Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Semper auctor neque vitae tempus quam pellentesque. Ullamcorper morbi tincidunt ornare massa eget egestas. Mauris pharetra et ultrices neque. Mi tempus imperdiet nulla malesuada. Amet consectetur adipiscing elit ut. Vel facilisis volutpat est velit egestas dui. Sit amet purus gravida quis blandit. Cursus eget nunc scelerisque viverra. At erat pellentesque adipiscing commodo elit at imperdiet. Amet aliquam id diam maecenas ultricies mi eget. Blandit aliquam etiam erat velit scelerisque in dictum. Urna nunc id cursus metus aliquam eleifend.
 </p> 
  <h2>Open Positions</h2>
   {% include 'jobs_cards.html'%}
  <div class="contact_us">
    <a class="btn btn-primary" href="mailto:tomislavkrtalic005@gmail.com?subject=question&body=Yor%20question%20%3Chere%3E%0D%0A">Contact us</a>
  </div>
  <footer>Copyright 2023</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  {% include 'footer.html'%}
</body>
</html>